#
# GIT will not add anything included in this file to the commit
#
#

# Ignore all IDE workspace settings
**.idea


# Ignore all optimizd and compiled Python byte code
**__pycache__/
**.py[cod]

# Ignore the configuration files
src/VariantInterpretationAnalysis/genevia.config

# Ignore the data files being updated by the program
src/VariantInterpretationAnalysis/data/
